* {
    font-family: cursive;
    color: white;
    background-color: lightskyblue;
    padding: 0;margin: 0;list-style:none
  }
  h1 {
    text-align: center
  }
  
   
  h3 {
      text-align: center
    }
  h4 {
    text-align: center;
  }
  h5 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  
  h2 {
    font-size: "10px";
    text-align: center;
  }
  
  .carousel {
    position: relative;
    max-width: 600px; /* Adjust as needed */
    margin: auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel img {
    max-width: 100%;
    display: none; /* Hide all images initially */
}

.carousel img.active {
    display: block; /* Show the active image */
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    padding: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}